@import '../../../styles/styles';

.dashboard-header {
    @include flex($justify: space-between);
    width: 90%;
    margin: 5rem auto 0;

    max-width: $maxScreen;

    button {
        width: auto;
        color: $black;
        font-family: $fontTitle;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .arrow-up {
        rotate: -90deg;
    }

    .arrow-down {
        rotate: 90deg;
    }

}



.feed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 5rem auto 0;
    row-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    max-width: $maxScreen;

    @include screen-max($mobileBreakpoint) {
        @include flex($direction: column);
        width: 90%;
        margin: 3rem auto 0;
    }

    article {
        width: 100%;
    }
}