<div>
    <app-header></app-header>
    <div class="dashboard-header">
        <app-error-message [errorMessage]="errorMessage" ></app-error-message>
        <a mat-flat-button color=primary routerLink="/article">Créer un article</a>

        <button mat-icon-button (click)="changeSort()">
           Trier par  <mat-icon class="{{ isAscending ? 'arrow-up' : 'arrow-down' }}"  svgIcon="arrow"></mat-icon>
        </button>
    </div>

    <section class="feed">
        <article *ngFor="let article of sortedArticles$ | async">
            <app-articleCard [article]="article"></app-articleCard>
        </article>

    </section>
</div>