@import '../../styles/styles';

header {
    border-bottom: 1px solid $black;

    @include screen-max($mobileBreakpoint) {
        display: none;
    }

    img {
        width: 10%;
        @include margin-horizontal($marginContainerHeader);
    }
}