@import '../../../styles/styles';

.form-container {
    @include flex($direction: column);
    gap: 1rem;

    h1 {
        color: $black;

        font-family: $fontTitle;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    form {
        @include flex($direction: column);
    }
}