@import '../../styles/styles';


.article {
    &-card {
        background: $grey-light;
        border-radius: 8px;
        cursor: pointer;
        width: auto;
        margin: auto;
        height: 15rem;

        @include screen-max($mobileBreakpoint) {
            width: initial;
            margin: initial;
            height: auto;
        }
    }

    &-title {
        color: $black;
        font-family: $fontTitle;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include screen-max($mobileBreakpoint) {
            font-size: 1.3rem;
        }
    }

    &-date,
    &-author {
        color: #000;
        font-family: $fontTitle;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include screen-max($mobileBreakpoint) {
            font-size: 1rem;
        }
    }

    &-content {
        color: $black;
        font-family: $fontTitle;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include screen-max($mobileBreakpoint) {
            font-size: 1rem;
        }
    }

}

.mat-card {

    &-subtitle {
        @include flex($justify: flex-start);
        gap: 5rem;
        padding: 1rem 0 0.5rem;
    }
}