<div></div>
<app-header></app-header>

<section class="form-container">
  <h1>Inscription</h1>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <form #registrationForm="ngForm" (ngSubmit)="submit(registrationForm)">

    <mat-form-field>
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput placeholder="Nom d'utilisateur" name="username" [(ngModel)]="user.username" required #username="ngModel">
      <mat-error *ngIf=" username.errors?.['required']">
        Le nom d'utilisateur est requis.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Adresse e-mail</mat-label>
      <input matInput type="email" placeholder="Adresse e-mail" name="email" [(ngModel)]="user.email" required email #email="ngModel">
      <mat-error *ngIf=" email.errors?.['required']">
        L'adresse e-mail est requise.
      </mat-error>
      <mat-error *ngIf=" email.errors?.['email']">
        L'adresse e-mail n'est pas valide.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" placeholder="Mot de passe" name="password" [(ngModel)]="user.password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #password="ngModel">
      <mat-error *ngIf=" password.errors?.['required']">
        Un mot de passe est requis.
      </mat-error>
      <mat-error *ngIf=" password.errors?.['pattern']">
        Le mot de passe doit comporter au moins 8 caractères, dont un chiffre, une lettre majuscule et une lettre minuscule.
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">S'inscrire</button>
  </form>
  
</section>
