<div>
    <mat-nav-list class="nav">
        <a mat-list-item routerLink="/dashboard" class="nav-item" routerLinkActive="active-item">Articles</a>
        <a mat-list-item routerLink="/themes" class="nav-item" routerLinkActive="active-item">Thèmes</a>
        <a mat-list-item routerLink="/profile" class="nav-item" routerLinkActive="active-item">
            <mat-icon svgIcon="user"></mat-icon>
        </a>
    </mat-nav-list>

    <mat-sidenav-container class="nav-mobile" autosize [hasBackdrop]="true">
        <mat-sidenav #sidenav class="sidenav" mode="over" position="end" [fixedInViewport]="true">
            <mat-nav-list class="nav-mobile-list">
                <div class="nav-mobile-item">
                    <a mat-list-item routerLink="/dashboard" class="nav-item"
                        routerLinkActive="active-item">Articles</a>
                    <a mat-list-item routerLink="/themes" class="nav-item" routerLinkActive="active-item">Thèmes</a>
                </div>
                <a mat-list-item routerLink="/profile" class="nav-item" routerLinkActive="active-item">
                    <mat-icon svgIcon="user"></mat-icon>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <div class="sidenav-burger">
            <button type="button" mat-button (click)="sidenav.toggle()">
                <mat-icon svgIcon="burger"></mat-icon>
            </button>
        </div>
    </mat-sidenav-container>

</div>