//--------- COLORS -----------

$black: #000;
$red: #f44336;


//-------- SIZE ---------------

$mobileBreakpoint: 768px;

$marginContainer: 3rem;
$marginContainerHeader: $marginContainer /2;

//-------- FONTS ---------------
$fontTitle : 'Inter',
sans-serif;