//--------- COLORS -----------

$black: #000;
$red: #f44336;
$grey: #D9D9D9;
$purple: #6C5CCF;


//-------- SIZE ---------------

$mobileBreakpoint: 768px;

$marginContainer: 3rem;
$marginContainerHeader: $marginContainer /2;

//-------- FONTS ---------------
$fontTitle : 'Inter',
sans-serif;