//--------- COLORS -----------

$black: #000;
$red: #f44336;
$grey: #D9D9D9;
$grey-light: #F5F5F5;
$purple: #6C5CCF;


//-------- SIZE ---------------

$mobileBreakpoint: 768px;

$marginContainer: 3rem;
$marginContainerHeader: $marginContainer /2;
$maxScreen: 1600px;

//-------- FONTS ---------------
$fontTitle : 'Inter',
sans-serif;