@import './variables';
@import './mixins';
@import './global';

div.mat-drawer-backdrop {
    position: fixed;
}

div.mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
}

span.mat-list-item-content {
    justify-content: flex-end;
}