@import '../../../styles/styles';


.center {
  height: 100vh;
  @include flex($direction: column);

  @include screen-max($mobileBreakpoint) {
    justify-content: flex-start;
    margin-top: 6rem;
    gap: 4rem;
  }
}

img {
  margin: 0 auto;

  @include screen-max($mobileBreakpoint) {
    width: 90%;
  }
}

.buttons {
  @include flex;
  gap: 2rem;

  @include screen-max($mobileBreakpoint) {
    flex-direction: column;
    gap: 3rem;
  }

  a {
    border-color: $black;
    @include button-style-base();
  }
}